<div class="container text-center">
    <div class="row justify-content-fluid">
        <div class="col">
            <div class="card" style=" resize: both; height: 500px; width: 300px;">
                <img src="https://i.imgur.com/DQOK0Tu.jpg" class="card-img-top" alt="https://i.imgur.com/DQOK0Tu.jpg">
                <div class="card-body">
                    @*Body text*@
                    <h5 class="card-title"> Player Card 1</h5>
                    <p class="card-text">@**@</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style=" resize: both; height: 500px; width: 300px;">
                <img src="https://i.imgur.com/uc48UBg.jpg" class="card-img-top" alt="https://i.imgur.com/uc48UBg.jpg">
                <div class="card-body">
                    <h5 class="card-title">Player Card 2</h5>
                    <p class="card-text">@**@</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style=" resize: both; height: 500px; width: 300px;">
                <img src="https://i.imgur.com/mxpgCr2.jpg" class="card-img-top" alt="https://i.imgur.com/mxpgCr2.jpg">
                <div class="card-body">
                    <h5 class="card-title">Dealer Card 1</h5>
                    <p class="card-text">@**@</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style=" resize: both; height: 500px; width: 300px;">
                <img src="https://i.imgur.com/55GVkYe.jpg" class="card-img-top" alt="https://i.imgur.com/55GVkYe.jpg">
                <div class="card-body">
                    <h5 class="card-title">Dealer Card 2</h5>
                    <p class="card-text">@**@</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        position: page;
        align-content: center;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        animation: ease-in-out;
    }

    .col {
        position: page;
        align-content: inherit;

    }

</style>