<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" href="site.css">
</head>
<body>
    <script src="~/js/game.js"></script>
    <div id="game-container">
        <div class="card-container">
            <!-- Display player's hand -->
            <div id="player-hand"></div>

            <!-- Card 1 -->
            <div class="card" id="#playerHand" @*style="background-image: url('https://i.imgur.com/j4ebqJG.png');"*@>
                <p id="textPlayerCard1"></p>
            </div>

            <!-- Card 2 -->
            <div class="card" id="#playerHand" @*style="background-image: url('https://i.imgur.com/SrTxfYE.png'); margin-right: 25px;"*@>
                <p id="textPlayerCard2"></p>
            </div>

            <!-- Display dealer's hand -->
            <div id="dealer-hand"></div>

            <!-- Card 3 -->
            <div class="card" id="dealerHand" @*style="background-image: url('https://i.imgur.com/WVou0eM.png');"*@>
                <p id="dealerCard1"></p>
            </div>

            <!-- Card 4 -->
            <div class="card" id="dealerHand" style="resize: inherit; background-image: url('');">
                <p id="dealerCard2"></p>
            </div>
        </div>
    </div>

    <div class="row-container-1">
        <!-- Additional Cards Container -->
        <div class="card" style="border: solid 6px #133337; border-radius: 25px; resize: both; width: 120px; height: 168px; padding: 10px; margin-right: 10px;"></div>
        <div class="card" style="border: solid 6px #133337; border-radius: 25px; resize: both; width: 120px; height: 168px; padding: 10px; margin-right: 10px;"></div>
        <div class="card" style="border: solid 6px #133337; border-radius: 25px; resize: both; width: 120px; height: 168px; padding: 10px; margin-right: 10px;"></div>
        <div class="card" style="border: solid 6px #133337; border-radius: 25px; resize: both; width: 120px; height: 168px; padding: 10px; margin-right: 10px;"></div>
        <div class="card" style="border: solid 6px #133337; border-radius: 25px; resize: both; width: 120px; height: 168px; padding: 10px;"></div>

        <!-- Game Stats Container -->
        <div class="stats-container">
            <div class="grid-item grid-item-1">Player Hand Total: <span id="playerTotal"></span></div>
            <div class="grid-item grid-item-2">Dealer Hand Total: <span id="dealerTotal"></span></div>
            <div class="grid-item grid-item-3">Bankroll: <span id="bankroll"></span></div>
            <div class="grid-item grid-item-4">
                Bet Amount:
                <select id="betAmountDropdown">
                    <option value="5">$5</option>
                    <option value="10">$10</option>
                    <option value="15">$15</option>
                    <option value="20">$20</option>
                    <option value="25">$25</option>
                    <option value="30">$30</option>
                    <option value="35">$35</option>
                    <option value="40">$40</option>
                    <option value="45">$45</option>
                    <option value="50">$50</option>
                </select>
                <button onclick="submitBet()">Submit</button>
            </div>

            <div class="grid-item grid-item-5">Total Winnings: <span id="totalWins"></span></div>
            <div class="grid-item grid-item-6">Total Loss: <span id="totalLosses"></span></div>
            <div class="grid item grid-item-7 card deck-card" style="background-image: url(''); resize: both; height: 210px; width: 150px;">Deck<span poster="deck"></span></div>
        </div>
    </div>

    <div class="row-container-2">
        <!-- Display messages -->
        <div id="game-updates" style="overflow: scroll;">
            <p id="gameUpdatesText"></p>
        </div>

        

        <!-- Action buttons -->
        <div id="buttons">
            <button id="hit-button" onclick="HitButtonClick()">Hit</button>
            <button id="stand-button" onclick="StandButtonClick()">Stand</button>
            <button id="deal-Button" onclick="DealCardsClick()">Deal Cards</button>

        </div>
    </div>

    <!--Reference to the file that will hold the script code for the converted C# game file-->
    <script src="~/js/game.js"></script>
    <style scr="~/css/site.css"></style>
    <script>


        window.onload = function (e) {
            var gameString = 'Welcome to the Game.';
            document.getElementById('gameUpdatesText').innerHTML = gameString;
            
        }

        function DealCardsClick() {
            var gameString = 'The game has begun.';
            document.getElementById('gameUpdatesText').innerHTML = gameString + "<br />" + document.getElementById('gameUpdatesText').innerHTML.valueOf();


            var playerCard1 = 'Player first card is: ';
            var playerCard1 = document.getElementById('playerCard1').innerHTML.valueOf();
            var textPlayerCard1 = playerCard1;
            
        }

        function HitButtonClick() {
            var gameString = 'Player Hits.';
            document.getElementById('gameUpdatesText').innerHTML = gameString + "<br />" + document.getElementById('gameUpdatesText').innerHTML.valueOf();
        }

        function StandButtonClick() {
            var gameString = 'The Player Stands. ';
            document.getElementById('gameUpdatesText').innerHTML = gameString + "<br />" + document.getElementById('gameUpdatesText').innerHTML.valueOf();

        }

    </script>
</body>
</html>
