@*<iframe src="https://drive.google.com/file/d/1yTmtOL22_0zVtgmZawXIeE0XhRNLpIjQ/preview" width="640" height="480" allow="autoplay"></iframe>
Import Image from Google Drive
*@

<div>
    <div class="header">
        <div class="sides">
            <a href="#" class="logo">INFO</a>@*###*@
        </div>
        <div class="sides"> <a href="#" class="menu"> </a></div>@**@
        <div class="info">
            <h4><a href="#category">Aaron Gray</a></h4>@**@
            <h1>MEET THE DEVS</h1>
        </div>
    </div>
    <section class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl turpis, porttitor et finibus id, viverra a metus. Praesent non ante sed orci posuere varius quis sit amet dui. Cras molestie magna orci, id gravida dolor molestie in. Duis sollicitudin turpis quis tortor egestas, ut ultrices nisl elementum. Vestibulum sed ipsum eget nulla laoreet cursus in ac sem. Integer a suscipit justo, quis aliquam sapien. Maecenas et tellus nibh. Vivamus tincidunt eros id commodo pellentesque.</p>
        <p align="center">
            <a href="https://github.com/GraySIREN" class="btn twtr" target="_b">Follow me on GitHub</a>
        </p>
    </section>
</div>


<div>
    <div class="container">
        <div class="row">
            <!--CARD 1-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/D7t0Pet.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">AARON GRAY</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/aaron-gray-creative/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I am from Colombia. I studied at the Rovira I Virgili University where I did my Masters in Teaching of Spanish as a Foreign Language. I am now a Spanish and Latin American Studies Professor.</p></div>
                </div>
            </div>
            <!--CARD 2-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/93iEcAv.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">CALLIE CARLTON</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/carltoncm22/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I am from Barcelona and I have been teaching Spanish as a Foreign Language since 2007. I hold a MA in Translation and Interpreting Studies and a BA in Teaching Spanish as a Foreign Language. I am currently working on a Ph.D. in Russian ethnic humor.</p></div>
                </div>
            </div>
            <!--CARD 3 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/WKoyT8x.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ROB NELLINGER</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/robert-nellinger-38142224/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I was born in Seville but raised in León, in the north of Spain. I did my Degree in History of Art and then my Master’s in Didactics of Spanish as a Foreign Language.</p></div>
                </div>
            </div>
            <!--CARD 4 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/J6LeoUb.png">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ANTHONY GOODIN</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/anthony-goodin-756661189/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I am a native Spanish teacher from Argentina. I am an enthusiastic and committed teacher, who is passionate about teaching Spanish and language learning. I am also a degree holder in Sociocultural Anthropology. </p></div>
                </div>
            </div>
            <!--CARD 5-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/UCDDCzl.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">KYLE WILLIAMS</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/kyle-williams-3031aa211/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>

                    <div class="social" style="padding:15px; font-size:9pt;"><p>I have taught Spanish classes to students of all ages. I have worked preparing students of all levels for the DELE and the SIELE exams and I have taught Spanish business language to students working in different companies for two years.</p></div>
                </div>
            </div>
            <!--CARD 6-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/JXGqcSa.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ELDEN LORD</h5>
                    </div>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I am from Valencia, Spain and I have been teaching Spanish for the last 20 years in different institutions such as the Instituto Cervantes of New Delhi. I have a Master’s degree in teaching Spanish and I’m specialized in teaching intercultural skills through audiovisual activities.</p></div>
                </div>
            </div>
            <!--CARD 7 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/iDnfu4S.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">MR. FOX</h5>
                    </div>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I have been a teacher of languages for more than 14 years now. I have worked for some of the best educational centers in Europe and I have had great opportunities to work with children and adults of all nationalities, ages, and backgrounds.</p></div>
                </div>
            </div>
            <!--CARD 8 -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/rqdDW3N.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">MUSHROOM ADVENTURER</h5>
                    </div>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>I am from a small town in northern Spain, Ponferrada. I am a Primary and Physical Education teacher (University of Salamanca) and also a teacher of Spanish as a foreign language (Camilo José Cela University, Madrid). Currently, I dedicate myself exclusively to teaching Spanish.</p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:250%;
  font-family: 'Josefin Sans', sans-serif;

}
a{
  text-decoration:none
}
.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
}
.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#1B2030 url(https://images.unsplash.com/photo-1571993142257-eae0b44cf0f1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:40px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@@Akeyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}





    HTML CSSResult Skip Results Iframe
    EDIT ON
    body {
        font-family: 'Open Sans', sans-serif;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .our-team {
        padding: 30px 0 40px;
        margin-bottom: 30px;
        background-color: #ffffff;
        text-align: center;
        overflow: hidden;
        position: relative;
        min-height: 400px;
        border-radius: 10px;
    }

        .our-team .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
        }

            .our-team .picture::before {
                content: "";
                width: 100%;
                height: 0;
                border-radius: 50%;
                background-color: #0d6efd;
                position: absolute;
                bottom: 135%;
                right: 0;
                left: 0;
                opacity: 0.9;
                transform: scale(3);
                transition: all 0.3s linear 0s;
            }

        .our-team:hover .picture::before {
            height: 100%;
        }

        .our-team .picture::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #0dcaf0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .our-team .picture img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            transform: scale(1);
            transition: all 0.9s ease 0s;
        }

        .our-team:hover .picture img {
            box-shadow: 0 0 0 14px #ffffff;
            transform: scale(0.7);
        }

        .our-team .title {
            display: block;
            font-size: 15px;
            color: #0d6efd;
            text-transform: capitalize;
        }

        .our-team .social {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: #0d6efd;
            position: absolute;
            bottom: -100%;
            left: 0;
            transition: all 0.5s ease 0s;
            color: #ffffff;
        }

        .our-team:hover .social {
            bottom: 0;
        }

        .our-team .social li {
            display: inline-block;
        }

            .our-team .social li a {
                display: block;
                padding: 10px;
                font-size: 17px;
                color: white;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }

                .our-team .social li a:hover {
                    color: #d4021d;
                    background-color: #0d6efd;
                }

    .introduccion {
        font-size: 9pt;
    }
</style>