@*<iframe src="https://drive.google.com/file/d/1yTmtOL22_0zVtgmZawXIeE0XhRNLpIjQ/preview" width="640" height="480" allow="autoplay"></iframe>
    Import Image from Google Drive

*@


<style>
    @@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');

    html, body {
        margin: 0;
        height: 300%;
        font-family: 'Josefin Sans', sans-serif;
    }

    a {
        text-decoration: none
    }

    .header {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        height: 50vw;
        min-height: 400px;
        max-height: 550px;
        min-width: 300px;
        color: #eee;
    }

        .header:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
        }

        .header:before {
            content: "";
            width: 100%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            backface-visibility: hidden;
            scale(1.0, 1.0);
            transform: translateZ(0);
            background: #1B2030 url(https://i.imgur.com/g8Czper.jpg) 35% 0 no-repeat;
            background-size: 100%;
            background-attachment: fixed;
            animation: grow 60s linear 10ms infinite;
            transition: all 0.4s ease-in-out;
            z-index: -2
        }

        .header a {
            color: #eee
        }

    .menu {
        display: block;
        width: 40px;
        height: 30px;
        border: 2px solid #466159;
        border-radius: 3px;
        position: absolute;
        right: 20px;
        top: 20px;
        text-decoration: none
    }

        .menu:after {
            content: "";
            display: block;
            width: 20px;
            height: 3px;
            background: #466159;
            position: absolute;
            margin: 0 auto;
            top: 5px;
            left: 0;
            right: 0;
            box-shadow: 0 8px, 0 16px
        }

    .logo {
        border: 2px solid #fff;
        border-radius: 3px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        align-content: center;
        margin: 20px;
        padding: 10px 10px;
        font-weight: 900;
        font-size: 1.1em;
        line-height: 1;
        box-sizing: border-box;
        height: 40px
    }

    .sides, .info {
        flex: 0 0 auto;
        width: 50%
    }

    .info {
        width: 100%;
        padding: 15% 10% 0 10%;
        text-align: center;
        text-shadow: 0 2px 3px rgba(0,0,0,0.2)
    }

    .author {
        display: inline-block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
        background-size: cover;
        box-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 3px
    }

    .info h4, .meta {
        font-size: 0.7em
    }

    .meta {
        font-style: italic;
    }

    @@Akeyframes grow {
        0% {
            transform: scale(1) translateY(0px)
        }

        50% {
            transform: scale(1.2) translateY(-400px)
        }
    }

    .content {
        padding: 5% 10%;
        text-align: justify
    }

    .btn {
        color: #333;
        border: 2px solid;
        border-radius: 3px;
        text-decoration: none;
        display: inline-block;
        padding: 5px 10px;
        font-weight: 600
    }

    .twtr {
        margin-top: 100px
    }

    .btn.twtr:after {
        content: "\1F426";
        padding-left: 5px
    }





    HTML CSSResult Skip Results Iframe
    EDIT ON
    body {
        font-family: 'Open Sans', sans-serif;
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .our-team {
        padding: 30px 0 40px;
        margin-bottom: 30px;
        background-color: slategray;
        text-align: center;
        overflow: hidden;
        position: relative;
        min-height: 400px;
        border-radius: 10px;
    }

        .our-team .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            margin-bottom: 10px;
            z-index: 1;
            position: relative;
        }

            .our-team .picture::before {
                content: "";
                width: 100%;
                height: 0;
                border-radius: 50%;
                background-color: slategray;
                position: absolute;
                bottom: 135%;
                right: 0;
                left: 0;
                opacity: 0.9;
                transform: scale(3);
                transition: all 0.3s linear 0s;
            }

        .our-team:hover .picture::before {
            height: 100%;
        }

        .our-team .picture::after {
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: slateblue;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .our-team .picture img {
            width: 100%;
            height: auto;
            border-radius: 50%;
            transform: scale(1);
            transition: all 0.9s ease 0s;
        }

        .our-team:hover .picture img {
            box-shadow: 0 0 0 14px #ffffff;
            transform: scale(0.7);
        }

        .our-team .title {
            display: block;
            font-size: 15px;
            color: slategrey;
            text-transform: capitalize;
        }

        .our-team .social {
            width: 100%;
            padding: 0;
            margin: 0;
            background-color: slateblue;
            position: absolute;
            bottom: -100%;
            left: 0;
            transition: all 0.5s ease 0s;
            color: #ffffff;
        }

        .our-team:hover .social {
            bottom: 0;
        }

        .our-team .social li {
            display: inline-block;
        }

            .our-team .social li a {
                display: block;
                padding: 10px;
                font-size: 17px;
                color: white;
                transition: all 0.3s ease 0s;
                text-decoration: none;
            }

                .our-team .social li a:hover {
                    color: #d4021d;
                    background-color: mediumslateblue;
                }

    .introduccion {
        font-size: 9pt;
    }
</style>





<!doctype html>
<html lang="en-US" dir="ltr">

<head>
    @*This is the HEAD. All info about the page that WILL NOT be displayed.*@
    <meta charset="utf-8" />
    <title>Aaron's 'Website Capstone</title>
    <meta name="viewport" content="width=deivice-width, inital-scale=1" />
    <meta name="description" content="Aaron Gray's first Full Stack Development Website.'" />

</head>


<body>

    <main>
        @*Used once, wraps around entire webpage*@
    </main>
    <header>
        @*Marks places within the page for a Header*@
    </header>
    <footer>
        @*Marks places within the page for a Footer*@
    </footer>
    <article>
        @*Any instance of an article*@
    </article>
    <section>
        @*Longer section with more inforamtion*@
    </section>
    <aside>
        @*Inset panel, sidebar ads, something to the side*@
    </aside>
    <figure>
        @*Is its very own figure of content*@
    </figure>

<div>
    <div class="header">
        <div class="sides">
            <a href="#" class="logo">SOMETHING</a>@*###*@
        </div>
        <div class="sides"> <a href="#" class="menu"> </a></div>@**@
        <div class="info">
            <h4><a href="#category">Aaron Gray</a></h4>@**@
            <h1>MEET THE DEVS</h1>
        </div>
    </div>
    <section class="content">
        <p>This is my very first self-designed website as I continue on my journey of studying Software Development and MVC Web Design. Much of the style components are integrated from codepen. Enjoy!</p>
        <p align="center">
            <a href="https://github.com/GraySIREN" class="btn twtr" target="_b">Follow me on GitHub</a>
        </p>
    </section>
</div>


<div>
    <div class="container">
        <div class="row">
            <!--CARD 1-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/D7t0Pet.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">AARON GRAY</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/aaron-gray-creative/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Originally from IN, I moved to Middle TN and finished my undergraduate at MTSU, earning a Bachelor of Science Degree. I continue to study Software Development, MVC Web Design, as well 3D Rendering, and numerous Media Design industries.</p></div>
                </div>
            </div>
            <!--CARD 2-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/ECuipbm.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ASHLEY AHRENS</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/ashley-ahrens-cesp/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Originally from Northern Chicago, I met my fiancee in IN and then we both moved to Middle TN. I am a certified yoga trainer, inexplicably gorgeous, and work in Marketing and Development!</p></div>
                </div>
            </div>
            <!--CARD 2.1-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/93iEcAv.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">CALLIE CARLTON</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/carltoncm22/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Callie's Info</p></div>
                </div>
            </div>
            <!--CARD 3-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/WKoyT8x.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ROB NELLINGER</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/robert-nellinger-38142224/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Senior Architect. Someone in Aaron's family told him to connect with me as we are distantly related. He then helped me record some rad tunes at MTSU, and now I help him learn Software Dev and Web Design. Crazy how things work out, huh?</p></div>
                </div>
            </div>
            <!--CARD 4-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/J6LeoUb.png">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ANTHONY GOODIN</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/anthony-goodin-756661189/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>NEEBLES. That is all.</p></div>
                </div>
            </div>
            <!--CARD 5-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/UCDDCzl.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">KYLE WILLIAMS</h5>
                    </div>
                    <p><a href="https://www.linkedin.com/in/kyle-williams-3031aa211/" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">LinkedIn</a></p>

                    <div class="social" style="padding:15px; font-size:9pt;"><p>I'm Kyle M'fu**n Williams, yo.</p></div>
                </div>
            </div>
            <!--CARD 6-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/JXGqcSa.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">ELDEN LORD</h5>
                    </div>
                    <p><a href="https://account.xbox.com/en-us/Profile?xr=socialtwistnav&activetab=main:mainTab2" class="link-primary link-offset link-underline-opacity-25 link-underline-opacity-100-hover">Gamer Profile</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Yes, you heard that right. I am a Tarnished, and I am the Elden Lord of the Lands Between. Reincarnated by Grace to help restore order to the forgotten lands. I now embark on a thousand year Age of the Stars with my loyal consort and wife, Ranni the Witch, to restore the Greater Will to the lands between.</p></div>
                </div>
            </div>
            <!--CARD 7-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/iDnfu4S.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">MR. FOX</h5>
                    </div>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Meow. I am an Adobe Firefly AI generated representation of Mowgli, the Devourer. (Ashley and Aaron's cat.) Got any treats?</p></div>
                </div>
            </div>
            <!--CARD 8-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="https://i.imgur.com/rqdDW3N.jpg">
                    </div>
                    <div class="team-content">
                        <h5 class="name">MUSHROOM ADVENTURER</h5>
                    </div>
                    <p><a href="https://www.instagram.com/itzz_siren/" class="link-primary link-offset link-underline-opacity-25 link-underline-opacity-100-hover">More 3D Renders</a></p>
                    <div class="social" style="padding:15px; font-size:9pt;"><p>Just a curious character from Aaron's 3D world. I was created, but have no Adventure to begin. Please help...</p></div>
                </div>
            </div>
            <div>
                    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/600867813&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/user-77106647" title="S/REN Media Productions" target="_blank" style="color: #cccccc; text-decoration: none;">S/REN Media Productions</a> · <a href="https://soundcloud.com/user-77106647/fading-sun" title="Fading Sun" target="_blank" style="color: #cccccc; text-decoration: none;">Fading Sun</a></div>
            </div>
        </div>
    </div>
</div>


</body>

</html>