<div>

</div>
<div>
    <ul class="card-list">

        <li class="card">
            <a class="card-image" href="https://agray2195.wixsite.com/sirenmediaproduction" target="_blank" style="background-image: url(https://i.imgur.com/D7t0Pet.jpg); " data-image-full="https://i.imgur.com/D7t0Pet.jpg">
            </a>
            <a class="card-description" href="https://agray2195.wixsite.com/sirenmediaproduction" target="_blank">
                <h2>Media Home</h2>
                <p>Professional Portfolio</p>
            </a>
        </li>

        <li class="card">
            <a class="card-image" href="https://agray2195.wixsite.com/sirenmediaproduction/photography" target="_blank" style="background-image: url(https://i.imgur.com/4qQLL4V.jpg); " data-image-full="https://i.imgur.com/4qQLL4V.jpg">
            </a>
            <a class="card-description" href="https://agray2195.wixsite.com/sirenmediaproduction/photography" target="_blank">
                <h2>Photography</h2>
                <p>Some NSFW</p>
            </a>
        </li>

        <li class="card">
            <a class="card-image" href="https://agray2195.wixsite.com/sirenmediaproduction/videography" target="_blank" style="background-image: url(https://i.imgur.com/UTANS1D.jpg);" data-image-full="https://i.imgur.com/UTANS1D.jpg">
            </a>
            <a class="card-description" href="https://agray2195.wixsite.com/sirenmediaproduction/videography" target="_blank">
                <h2>Videography</h2>
                <p>Check it out!</p>
            </a>
        </li>

        <li class="card">
            <a class="card-image" href="https://agray2195.wixsite.com/sirenmediaproduction/graphic-design" target="_blank" style="background-image: url(https://i.imgur.com/9jLPceX.png);" data-image-full="https://i.imgur.com/9jLPceX.png">
            </a>
            <a class="card-description" href="https://agray2195.wixsite.com/sirenmediaproduction/graphic-design" target="_blank">
                <h2>Graphic Arts</h2>
                <p>3D Render and 2D Design</p>
            </a>
        </li>

        <li class="card">
            <a class="card-image" href="https://agray2195.wixsite.com/sirenmediaproduction/music-production" target="_blank" style="background-image: url(https://i.imgur.com/QHCtj9N.jpg);" data-image-full="https://i.imgur.com/QHCtj9N.jpg">
            </a>
            <a class="card-description" href="https://agray2195.wixsite.com/sirenmediaproduction/music-production" target="_blank">
                <h2>Audio Design</h2>
                <p>EP's, Samples, and More</p>
            </a>
        </li>

    </ul>
</div>

@* Social Icon Footer *@
<div>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>


    <footer>
        <div class="rounded-social-buttons">
            <a class="social-button github" href="https://github.com/GraySIREN" target="_blank"><i class="fab fa-github"></i></a>
            <a class="social-button facebook" href="https://www.facebook.com/aaron.gray.735" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a class="social-button portfolio" href="https://agray2195.wixsite.com/sirenmediaproduction" target="_blank"><i class="fab fa-portfolio"></i></a>
            <a class="social-button linkedin" href="https://www.linkedin.com/in/aaron-gray-creative/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="social-button soundcloud" href="https://soundcloud.com/user-77106647" target="_blank"><i class="fab fa-soundcloud"></i></a>
            <a class="social-button instagram" href="https://www.instagram.com/itzz_siren/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
</div>

<style>
    /* Lazy Load Styles */
    .card-image {
        display: block;
        min-height: 20rem; /* layout hack */
        background: #fff center center no-repeat;
        background-size: cover;
        filter: blur(px); /* blur the lowres image */
    }

        .card-image > img {
            display: block;
            width: 100%;
            opacity: 0; /* visually hide the img element */
        }

        .card-image.is-loaded {
            filter: none; /* remove the blur on fullres image */
            transition: filter 1s;
        }




    /* Layout Styles */
    html, body {
        width: 100%;
        height: 200%;
        margin: 0;
        font-size: 16px;
        font-family: sans-serif;
        background-color: slategrey;
    }



    .card-list {
        display: block;
        margin: 1rem auto;
        padding: 0;
        font-size: 0;
        text-align: center;
        list-style: none;
    }

    .card {
        display: inline-block;
        width: 90%;
        max-width: 20rem;
        margin: 1rem;
        font-size: 1rem;
        text-decoration: none;
        overflow: hidden;
        box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
        transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    }

        .card:hover {
            transform: translateY(-0.5rem) scale(1.0125);
            box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
        }

    .card-description {
        display: block;
        padding: 1em 0.5em;
        color: #515151;
        text-decoration: none;
    }

        .card-description > h2 {
            margin: 0 0 0.5em;
        }

        .card-description > p {
            margin: 0;
        }
</style>

<script>// This is "probably" IE9 compatible but will need some fallbacks for IE8
    // - (event listeners, forEach loop)

    // wait for the entire page to finish loading
    window.addEventListener('load', function () {

        // setTimeout to simulate the delay from a real page load
        setTimeout(lazyLoad, 1000);

    });

    function lazyLoad() {
        var card_images = document.querySelectorAll('.card-image');

        // loop over each card image
        card_images.forEach(function (card_image) {
            var image_url = card_image.getAttribute('data-image-full');
            var content_image = card_image.querySelector('img');

            // change the src of the content image to load the new high res photo
            content_image.src = image_url;

            // listen for load event when the new photo is finished loading
            content_image.addEventListener('load', function () {
                // swap out the visible background image with the new fully downloaded photo
                card_image.style.backgroundImage = 'url(' + image_url + ')';
                // add a class to remove the blur filter to smoothly transition the image change
                card_image.className = card_image.className + ' is-loaded';
            });

        });

    }</script>






@* Social Icon Footer *@
<style>
    body {
        background: #D0D8DB;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    textarea {
        resize: none;
    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        white-space: nowrap;
    }

    @@charset "UTF-8";

    .svg-inline--fa {
        vertical-align: -0.200em;
    }

    .rounded-social-buttons {
        text-align: center;
    }

        .rounded-social-buttons .social-button {
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: 3.125rem;
            height: 3.125rem;
            border: 0.125rem solid transparent;
            padding: 0;
            text-decoration: none;
            text-align: center;
            color: #fefefe;
            font-size: 1.5625rem;
            font-weight: normal;
            line-height: 2em;
            border-radius: 1.6875rem;
            transition: all 0.5s ease;
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
        }

            .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
                -webkit-transform: rotate(720deg);
                -ms-transform: rotate(360deg);
                transform: rotate(360deg);
            }

        .rounded-social-buttons .fa-github, .fa-portfolio, .fa-facebook-f, .fa-linkedin, .fa-soundcloud, .fa-instagram {
            font-size: 25px;
        }

        .rounded-social-buttons .social-button.github {
            background: #282a36;
        }

            .rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.github:focus {
                color: #3b5998;
                background: #282a36;
                border-color: #3b5998;
            }

        .rounded-social-buttons .social-button.facebook {
            background: #3b5998;
        }

            .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
                color: #3b5998;
                background: #fefefe;
                border-color: #3b5998;
            }

        .rounded-social-buttons .social-button.portfolio {
            background: #00cccc;
        }

            .rounded-social-buttons .social-button.portfolio:hover, .rounded-social-buttons .social-button.portfolio:focus {
                color: #00cccc;
                background: #fefefe;
                border-color: #00a693;
            }

        .rounded-social-buttons .social-button.linkedin {
            background: #007bb5;
        }

            .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
                color: #007bb5;
                background: #fefefe;
                border-color: #007bb5;
            }

        .rounded-social-buttons .social-button.soundcloud {
            background: #f50;
        }

            .rounded-social-buttons .social-button.soundcloud:hover, .rounded-social-buttons .social-button.soundcloud:focus {
                color: #f50;
                background: #fefefe;
                border-color: #bb0000;
            }

        .rounded-social-buttons .social-button.instagram {
            background: #cd486b;
        }

            .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
                color: #cd486b;
                background: #fefefe;
                border-color: #8a3ab9;
            }
</style>