body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top right, #06554c, #b3c9b9);
    height: auto;
    transform: scale(0.9);
}

#game-container {
    text-align: center;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
}

#player-hand, #dealer-hand {
    margin-bottom: 20px;
}

#buttons button {
    margin: 0 10px;
}

#message {
    font-weight: bold;
}

.row-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.row-container-2 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

#game-updates {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
    border: solid 4px #133337;
    border-radius: 25px;
    padding: 25px;
    color: black;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top right, #468499, #cb7554); /*How to add gradient element*/
    height: auto; /* Make sure the gradient covers the entire viewport height */
}

/* Style for the card container */
.card-container {
    margin: 0;
    display: flex; /* Use flexbox to create a row */
    justify-content: space-around; /* Distribute space evenly between cards */
    flex-wrap: wrap; /* Allow cards to wrap to the next row if necessary */
    max-width: 1750px;
    margin: 0 auto; /* Center the container */
}

/* Style for each individual card */
.card {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    height: 336px;
    width: 240px;
    padding: 15px;
    border: 1px solid #133337;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    animation: ease-in-out;
    background: center;
    background-size: cover;
    color: black;
    z-index: 1; /* Ensure text is above the background image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 12px;
        background: inherit; /* Inherit the background image from the card */
        filter: blur(0px);
        transition: filter 0.1s ease-in-out;
        z-index: -1; /* Move pseudo-element behind text */
        content: '';
        display: block;
    }

    .card:hover::before {
        filter: blur(5px); /* Apply blur effect on hover */
    }

    .card:hover {
        transform: translateY(-0.5rem) scale(1.0125);
        box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
    }

.deck-card {
    justify-content: center;
    padding: 10px;
    border-radius: 12px;
    margin: 0 auto;
}

.stats-container {
    display: grid;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    gap: 10px;
    width: 500px;
    height: 350px auto;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    background: url('...') center;
    position: relative; /* Needed for z-index to work properly */
    color: #ffffff;
}

.grid-item {
    text-align: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    width: 100%;
    background-color: #468499;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

    .grid-item:hover {
        transform: scale(1.03); /* Increase size on hover */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add drop shadow on hover */
        color: #6bbd67;
        font-size: 1.05em; /* Increase text size on hover */
    }


.grid-item-1 {
    justify-content: space-around;
    grid-row: 1/12;
    grid-column: 1/12;
    gap: 10px;
    width: 100%;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-2 {
    justify-content: space-around;
    grid-row: 1/12;
    grid-column: 12/24;
    gap: 10px;
    width: 100%;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-3 {
    justify-content: space-around;
    grid-row: 13/18;
    grid-column: 1/8;
    gap: 10px;
    width: 100%;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-4 {
    justify-content: space-around;
    grid-row: 19/24;
    grid-column: 1/8;
    gap: 10px;
    width: 100%;
    border: 2px solid #133337;
    border-radius: 25px;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
}

    .grid-item-4 button {
        margin-top: 20px;
        padding: 10px 15px; /* Add padding to the button */
        background-color: #6bbd67; /* Set background color for the button */
        color: #fff; /* Set text color for the button */
        border: none; /* Remove border from the button */
        border-radius: 5px; /* Optional: Add border-radius for rounded corners */
        cursor: pointer; /* Change cursor to pointer on hover */
    }

        /* Hover effect for the submit button */
        .grid-item-4 button:hover {
            background-color: #4e8f4e; /* Change background color on hover */
        }
/**/
.grid-item-5 {
    justify-content: space-around;
    grid-row: 13/18;
    grid-column: 17/24;
    gap: 10px;
    width: 100%;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-6 {
    justify-content: space-around;
    grid-row: 19/24;
    grid-column: 17/24;
    gap: 10px;
    width: 100%;
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item-7 {
    justify-content: space-around;
    grid-row: 13/24;
    grid-column: 9/16;
    gap: 10px;
    border: solid 2px #133337;
    border-radius: 25px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

#buttons {
    text-align: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    width: 350px auto;
    margin-top: 20px;
    background-color: #468499; /*Hit and Stand Button Container Background*/
    border: 2px solid #133337;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: #ffffff;
}

    #buttons button {
        cursor: pointer;
        width: 100px;
        height: 50px;
        margin: 0 5px;
        padding: 5px;
        gap: 10px;
        background-color: #93c47d; /*Hit and Stand Button Color*/
        color: #fff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        #buttons button:hover {
            transform: scale(1.1);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            background-color: slategray;
        }

        #buttons button.clicked {
            transform: scale(1.6);
        }

